
<!DOCTYPE html>

<!-- views/pages/index.ejs -->

<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <% include ../partials/header %>
      </header>
      <main>
        <div class="container-fluid">
        <p>join our steam group!
        http://steamcommunity.com/groups/Japura</p>

        <p>Our proud donor wall!</p>

        <p>diamond tier donors:
          PolarBearWP, <!-- a y-y-y-y-yeaaaaa! -->
          Zyluxic,
          Asynthic
        </p>

        <p>regular tier donors:
        wentam, <!-- greated linux guy ever -->
        lonewanderer666, <!-- best buds! -->
        rob0423,
        djan, <!-- freakin' lojban -->
        stitches_14, <!-- The classy griefer -->
        videogamezombie, <!-- -->
        force2reckon, <!-- Maybe one day he will learn how to pay the utility bill so the server doesn't shut off -->
        tinyt, <!-- Ace programmer -->
        cantaroji,
        jimagine,
        123abe2,
        dgjjl98u76t5, <!-- I still have to tab complete his name -->
        darkone93,
        jonathan_c7,
        elpwner,
        tmotom,
        smgpenguin, <!-- The cake is a lie -->
        gemhunter76,
        apexpredator29,
        tomatoheadache, <!-- Community Leader -->
        infernalboy13,
        reptilians13,
        nayr,
        stupidpandabear, <!-- THE BEST PANDA BEAR EVER -->
        danzmanz,
        phyc,
        staticgrazer,
        treeman892,
        goodcaster1,
        kibarob,
        spartankiller76,
        Zinkey246,
        wildfox,
        bluebee02,
        firestrike33,
        spriteslam,
        thekiller419,
        plescia1,
        applecube16,
        (Super) kooljoe,
        ChunkNinja,
        TheSoulCamel,
        MonkeePilot,
        The_8th_Doctor,
        <em>Jazperz</em>, <!-- I don't remember why jazperz has <em>, however i just remember she did something really cool to deserve it -->
        freakmaster2012,
        RPatt98,
        kaiden_patt,
        patt_cole,
        matthew_szawaluk,
        DerekJ64,
        blackholetnt,
        Jubbah,
        soccerstriker,
        purplecreeper92,
        soccer_rex,
        WAAT,
        DarkAzure,
        Elyceellen</p>

        <p>The best way to help support japura (aside from donating) and to help youself is to vote for the server on all the server lists!<br></p>

        <p><a href='https://mcserverstatus.com/viewserver/16533'><img src='http://mcserverstatus.com/16533_1.png'></img></a>
        <a href='http://serverlistminecraft.com/?server=1356'><img src='http://serverlistminecraft.com/images/statusbanners/1356.png' alt='Japura Survival City'><br>
        <a href="http://www.minecraftserverfinder.com/2297-japura-survival-city"><img src="http://www.minecraftserverfinder.com/rank.php?id=2297" /></a><br>
        <a href="http://minecraft-server-list.com/server/41077/"><img src="http://minecraft-server-list.com/server/logo/41077.png" alt="Minecraft Server Japura Survival City"  /></a><br>
        <a href="http://mineservers.com/server/2230/view/japura-net">mineservers</a> <br>
        <a href="https://minestatus.net/22991-japura-survival-city">minestatus</a> <br>
        <a href="http://minecraftservers.org/server/25872">minecraftservers</a> <br></p>
        </div>
      </main>
    </div>
    <footer class="footer">
      <% include ../partials/footer %>
    </footer>
  </body>

</html>
