<!DOCTYPE html>

<!-- views/pages/index.ejs -->

<html lang="en">
  <head>
    <% include ../partials/head %>
    <script src="/js/profile.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <% include ../partials/header %>
      </header>
      <main>
        <div class="container-fluid">
           <h1>Profile</h1>
           <label for="title">Username:</label>
           <input type="text" class="form-control" id="username" value="<%= user.username %>"></input>
           <div style="display: none;" id="user_id"><%= user._id %></div>
           <button type="button" class="btn btn-primary" onclick="update_username()">Update</button>
           <h2>Attached Accounts:</h2>
           <% if (user.google) { %>
           <div class="well">
             <h3>Google</h3>
             <p><%= user.google.email %></p>
           </div>
           <% } %>
        </div>
      </main>
    </div>
    <footer class="footer">
      <% include ../partials/footer %>
    </footer>
  </body>

</html>
