<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <% include ../partials/header %>
      </header>
      <main>
        <div class="container-fluid">
        
        </div>
      </main>
    </div>
    <footer class="footer">
      <% include ../partials/footer %>
    </footer>
  </body>

</html>
