<!DOCTYPE html>

<!-- views/pages/index.ejs -->

<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <% include ../partials/header %>
      </header>
      <main>
        <div class="container-fluid">
          <!-- Debating on if we even need a webchat -->
          <!-- It's only ever been used to spam or troll -->
        </div>
      </main>
    </div>
    <footer class="footer">
      <% include ../partials/footer %>
    </footer>
  </body>

</html>
